.view
  input.toggle(
    type='checkbox',
    ng-checked='todo.done',
    ng-model='todo.done'
    ng-click="todosCtrl.repopulateList()"
  )

  label(ng-dblclick='todo.editing = !todo.editing') {{todo.description}}

  button.destroy(ng-click='todosCtrl.destroy(todo.id)')

  input.edit(
    ng-if='todo.editing',
    value='{{todo.description}}',
    todos-edit='todo',
    ng-model='todo.description'
  )
