header#header
  h1 todos

  input#new-todo(
    ng-model='description',
    placeholder='What needs to be done?',
    add=''
  )

section#main
  //-
    div(
      todos-mark-all-as-done='todosCtrl.markAllAsDone(done)',
      ng-if='todosCtrl.todoList.length'
    )
  input#toggle-all(
    type="checkbox"
    ng-click="todosCtrl.markAllAsDone(true)"
  )

  label(for='toggle-all') Mark all as complete

  ul#todo-list
    li(
      ng-repeat='todo in todosCtrl.todoList track by todo.id',
      todo-destroy='todosCtrl.destroy(todo)',
      ng-class='{done: todo.done, editing: todo.editing}'
    )
      div(todo='todo')

footer#footer(ng-show='todosCtrl.totalCount')
  span#todo-count
    strong {{todosCtrl.remainingCount}}

    span(
      ng-pluralize='',
      count='todosCtrl.remainingCount',
      when="{'one': ' item', 'other': ' items'}"
    ) left

  ul#filters
    li
      a(
        ng-class="{selected: todosCtrl.isStateActive('all')}",
        ui-sref='all'
      ) All

    li
      a(
        ng-class="{selected: todosCtrl.isStateActive('active')}",
        ui-sref='active'
      ) Active

    li
      a(
        ng-class="{selected: todosCtrl.isStateActive('done')}",
        ui-sref='done'
      ) Done

  button#clear-completed(
    ng-if='todosCtrl.doneCount',
    ng-click='todosCtrl.clearDone()'
  ) Clear completed ({{todosCtrl.doneCount}})
